$font_main:           Arial, sans-serif;
$font_main_size:      16px;
$line-height:         1.5;

$font_color_main:        #000000;

$border_color:           #C4C4C4;

$button_color:          linear-gradient(90deg, #7EC581 -18.5%, #A8CE4A 119.25%);
$button_color_alt:      #ffffff;

$color_main:            #ffffff;
$color_alt:             #000000;
$color_second:          #7EC581;

$color_error:           #b81a1a;
$color_warning:         #8c6610;
